
  /* .battery {
    border: 2px solid #333;
    border-radius: 12px;
    padding: 16px;
    margin: 12px;
    width: 250px;
    display: inline-block;
    background: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s;
  }
  .battery {
    background: #e0f7fa;
    transform: scale(1.05);
  } */
